---
import BaseLayout from '../layouts/Layout.astro';
import ContactLinks from '../components/react/ContactLinks.jsx'; // Import the React component
---
<BaseLayout>
	<section class="hero">
		<h1>Sulthan Zahran Ma'ruf</h1>
		<h2>Software Engineer, part of LG Sinarmas.</h2>
		<p>
			Hello! I'm Sulthan Zahran Ma'ruf, a Physics graduate from Universitas Indonesia.
			I currently work at LG Sinarmas Technology Solutions and I consulting company
			formed through a joint venture between LG and Sinarmas. In my role, I help
			develop and test smart factory solutions for manufacturing (MES) and logistics
			(RTL) at the Hyundai-LG Indonesia EV battery factory. I'm passionate about
			optimization, parallel computing, and instrumentation physics. Feel free to
			reach out!
		</p>

		<div class="contact-links-wrapper">
			<ContactLinks client:visible />
		</div>

	</section>
</BaseLayout>

<style>
	.hero {
        padding-top: 2rem;
	}

	h1, h2 {
        text-align: center; 
	}

	h1 {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: normal;
		color: #666;
		margin-top: 0;
        margin-bottom: 1.5rem;
	}
    body.dark h2 {
        color: #ccc;
    }

	p {
		line-height: 1.6;
        text-align: justify; /* Justify the paragraph text */
        max-width: 65ch;     
        margin-left: auto;   
        margin-right: auto;
        margin-bottom: 2rem; 
	}

    .contact-links-wrapper {
        text-align: center; 
    }

</style>